.content {
  padding-top: 240px;
  padding-bottom: 440px;
  margin-bottom: 100px;
  background: url('assets/background.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-origin: border-box;
}

.content div {
  background-color: #cecece;
  width: 540px;
}

.content div span {
  color: #D44D51;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}

footer {
  background-color: #F78282;
  padding-top: 68px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;

}

#superior {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  margin-left: 165px;
  margin-right: 165px;
}

#copyright {
  color: #FFFFFF;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Medium 14 */
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  margin-bottom: 50px;
}

#botaoRodape {
  width: 109px;
  height: 26px;
  margin-bottom: 50px;
  background: #D04A3B;
  text-align: center;
  color: var(--colour-secondary-white-100-general, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  line-height: 18px;
}