*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 160vh;
}
.content div {
  width: 540px;
}

.content div p {
  color: #d44d51;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.content div h1 {
  color: var(--Colour-Main-Blue-900, #091133);
  font-feature-settings: "clig" off, "liga" off;

  /* Medium 50 */
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 132% */
  letter-spacing: 1px;
}


ul {
  color: #cd313e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}

button {
  width: 189.131px;
  height: 36px;
  flex-shrink: 0;
  background-color: #cd313e;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 700;
}

.box-shadow{
  box-shadow: 0px 4px 5px gray;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.gap-92{
  gap: 92px;
}

.background-none{
  background-color: transparent;
}

body{
  background: url("assets/background.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-origin: border-box;
}

header{
  padding: 16px
}

.outline-btn{
  background-color: transparent;
  color: #091133;
  border: 2px solid #091133;
  margin-left: 32px;

}



.nav flex-row{
  display: flex; gap: 30px
}

footer {
  background-color: #f78282;
  padding-top: 68px;
}

footer div {
  color: #fff;
}

footer .line {
  border-top: 1px solid #fff;
  padding-bottom: 20px;
  width: 80%;
  margin: 50px auto 0;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

footer .footer ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-left: 0;
}

footer .footer ul li {
  list-style-type: none;
}

footer .footer ul li a {
  font-family: "Roboto";
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font: 400;
}

footer .footer .social {
  gap: 30px;
}