body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 160vh;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  color: white;
}

.header img {
  max-width: 100%;
  height: auto;
}

button {
  /* Estilizando o Button do MAIN */
  background-color: #cd313e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

main a {
  color: black;
  text-decoration: none;
  margin-left: 5px;
  border: 3px solid black;
  padding: 10px 20px;
  border-radius: 2px;
}

a:hover {
  text-decoration: underline;
  background-color: #f8f9fa;
}
main {
  padding: 20px;
}

.content {
  background: url("/03-atividade-landing-page-errors/assets/background.png")
    no-repeat 100% 100%;
  padding-top: 240px;
  padding-bottom: 440px;
  margin-bottom: 100px;
  position: relative;
}

.content article {
  width: 540px;
  padding: 20px;
}

.content h2 {
  color: #091133;
  font-size: 40px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
}

.content p {
  color: #d44d51;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

ul {
  color: #cd313e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

button {
  width: 189.131px;
  height: 36px;
  flex-shrink: 0;
  background-color: #cd313e;
  color: #fff;
}

footer .line {
  border-top: 1px solid #fff;
  padding-bottom: 20px;
  width: 80%;
  margin: 50px auto 0;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

footer .footer ul {
  display: flex;
  justify-content: center;
  gap: 60px;

  padding-bottom: 32px;
}

footer .footer ul li {
  list-style-type: none;
}

body{
  background: url("assets/background.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-origin: border-box;
}

footer .footer .social {
  gap: 30px;
}



.nav flex-row{
  display: flex; gap: 30px
}

footer {
  background-color: #f78282;
  padding-top: 68px;
}

footer div {
  color: #fff;
}

footer .line {
  border-top: 1px solid #fff;
  padding-bottom: 20px;
  width: 80%;
  margin: 50px auto 0;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

footer .footer ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-left: 0;
}

footer .footer ul li {
  list-style-type: none;
}

footer .footer ul li a {
  font-family: "Roboto";
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font: 400;
}

footer .footer .social {
  gap: 30px;
}