* {
  margin: 0;
  padding: 0;
}

.content {
  padding-top: 240px;
  padding-bottom: 440px;
  margin-bottom: 100px;
  background: url("assets/background.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-origin: border-box;
}

.content div {
  background-color: #cecece;
  width: 540px;
}

.content div span {
  color: #d44d51;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.content div h2 {
  color: var(--Colour-Main-Blue-900, #091133);
  font-feature-settings: "clig" off, "liga" off;

  /* Medium 50 */
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 132% */
  letter-spacing: 1px;
}

.header {
  display: flex;
  justify-content: space-around;
}

ul {
  color: #cd313e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

button {
  width: 189.131px;
  height: 36px;
  flex-shrink: 0;
  background-color: #cd313e;
  color: #fff;
}

footer .line {
  border-top: 1px solid #fff;
  padding-bottom: 20px;
  width: 80%;
  margin: 50px auto 0;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

footer .footer ul {
  display: flex;
  justify-content: center;
  gap: 60px;

  padding-bottom: 32px;
}

footer .footer ul li {
  list-style-type: none;
}

footer .footer ul li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font: 400;
  line-height: 24px;
}

footer .footer .social {
  gap: 30px;
}
